<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>station</key>
		<array>
			<string>安庆</string>
			<string>安庆西</string>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>station</key>
		<array>
			<string>北京</string>
			<string>北京南</string>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>station</key>
		<array>
			<string>南京</string>
			<string>南京南</string>
		</array>
		<key>title</key>
		<string>N</string>
	</dict>
	<dict>
		<key>station</key>
		<array>
			<string>上海</string>
			<string>上海虹桥</string>
		</array>
		<key>title</key>
		<string>S</string>
	</dict>
	<dict>
		<key>station</key>
		<array>
			<string>宁德</string>
		</array>
		<key>title</key>
		<string>N</string>
	</dict>
	<dict>
		<key>station</key>
		<array>
			<string>福州</string>
			<string>福州南</string>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>station</key>
		<array>
			<string>惠安</string>
		</array>
		<key>title</key>
		<string>H</string>
	</dict>
	<dict>
		<key>station</key>
		<array>
			<string>厦门</string>
			<string>厦门北</string>
		</array>
		<key>title</key>
		<string>X</string>
	</dict>
	<dict>
		<key>station</key>
		<array>
			<string>xiamenbei</string>
			<string>xiamen</string>
		</array>
		<key>title</key>
		<string>X</string>
	</dict>
</array>
</plist>
